<section id="tutorial">
  <ol class="step">

    <li>
      <div class="left">
        <div class="rank">1</div>
        <h3>{{i18n "add a book to your inventory"}}</h3>
      </div>
      <div class="right">
        <img src="/public/images/cast-opt.gif" alt="">
      </div>
    </li>

    <li>
      <div class="left">
        <div class="rank">2</div>
        <h3>{{i18n 'choose who can see that you have this book'}}</h3>
      </div>
      <div class="right">
        <img src="/public/images/cast-opt.gif" alt="">
      </div>
    </li>

    <li>
      <div class="left">
        <div class="rank">3</div>
        <h3>{{i18n 'choose a transaction mode'}}</h3>
      </div>
      <div class="right">
        <img src="/public/images/cast-opt.gif" alt="">
      </div>
    </li>
{{!--
    <li>
      <div class="left">
        <div class="rank">4</div>
        <h3>{{i18n "or create a community group"}}</h3>
      </div>
      <div class="right">
        <img src="/public/images/cast-opt.gif" alt="">
      </div>
    </li>

    <li>
      <div class="left">
        <div class="rank">5</div>
        <h3>{{i18n "invite friends to share their inventory!"}}</h3>
      </div>
      <div class="right">
        <img src="/public/images/cast-opt.gif" alt="">
      </div>
    </li>
     --}}
  </ol>
</section>